body {
  	margin-top: 1.0em;
  	background-color: #ff8d1f;
		font-family: "helvetica"; 
  	color: #000000;
}
#container {
    margin: 0 auto;
    width: 700px;
}
h1 { 
  font-size: 3.8em;
  color: #0072e0;
  margin-bottom: 3px;
  text-align: center;
}
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { 
  font-size: 1.5em;
   color: #0072e0;
}
h3 { text-align: center; color: #0072e0; }

a { color: #0072e0; }

.nav {
  top: 0;
  padding: 10px;
  position: absolute;
  width: 60%;
  background-color: #6D6D6D;
}

.nav a {
  color: #FFF;
}

.content {
  margin-top: 80px;
}

.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.site { 
  margin: 0 20%;
  width: 60%;
}
.footer { 
  text-align:right;
  padding-top:30px;
  font-style: italic; 
}
